---
id: mit:config-file-verification
type: Mitigation
name: Configuration file verification
status: proposed
---
